In [1]:
import os
import pandas as pd

In [2]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'books_rating_project_EDA_3.ipynb',
 'books_rating_project_EDA_Cleaning_1.ipynb',
 'books_rating_project_EDA_Cleaning_2.ipynb',
 'data',
 'README.md']

In [3]:
os.listdir('data')

['cleaned_books.csv',
 'uncleaned_books.csv',
 'uncleaned_books.csv_bad_lines.txt',
 'working_books.csv']

In [4]:
folder = 'data/'
f_ratings = 'cleaned_books.csv'
ratings_path = folder + f_ratings

In [5]:
df_ratings = pd.read_csv(ratings_path)
df_ratings.head()

,bookID,title,authors,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,average_rating
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,0439785960,9780439785969,eng,652,2095690,27591,2006-09-16,Scholastic Inc.,4.57
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,0439358078,9780439358071,eng,870,2153167,29221,2004-09-01,Scholastic Inc.,4.49
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,0439554896,9780439554893,eng,352,6333,244,2003-11-01,Scholastic,4.42
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,043965548X,9780439655484,eng,435,2339585,36325,2004-05-01,Scholastic Inc.,4.56
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,0439682584,9780439682589,eng,2690,41428,164,2004-09-13,Scholastic,4.78

In [6]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   isbn                11127 non-null  object
 4   isbn13              11127 non-null  int64
 5   language_code       11127 non-null  object
 6     num_pages         11127 non-null  int64
 7   ratings_count       11127 non-null  int64
 8   text_reviews_count  11127 non-null  int64
 9   publication_date    11127 non-null  object
 10  publisher           11127 non-null  object
 11  average_rating      11127 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

In [7]:
df_ratings.describe()

,bookID,isbn13,num_pages,ratings_count,text_reviews_count,average_rating
count,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000,11127.000000
mean,21310.938887,9.759888e+12,336.376921,1.793641e+04,541.854498,3.933631
std,13093.358023,4.428964e+11,241.127305,1.124794e+05,2576.176608,0.352445
min,1.000000,8.987060e+09,0.000000,0.000000e+00,0.000000,0.000000
25%,10287.000000,9.780345e+12,192.000000,1.040000e+02,9.000000,3.770000
50%,20287.000000,9.780586e+12,299.000000,7.450000e+02,46.000000,3.960000
75%,32104.500000,9.780873e+12,416.000000,4.993500e+03,237.500000,4.135000
max,45641.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000,5.000000

In [8]:
df_ratings.describe(include=object)

,title,authors,isbn,language_code,publication_date,publisher
count,11127,11127,11127,11127,11127,11127
unique,10352,6643,11127,27,3678,2292
top,The Iliad,Stephen King,0439785960,eng,2005-10-01,Vintage
freq,9,40,1,8911,56,318

In [9]:
df_ratings.corr()

,bookID,isbn13,num_pages,ratings_count,text_reviews_count,average_rating
bookID,1.000000,-0.002185,-0.026223,-0.076815,-0.081284,-0.036949
isbn13,-0.002185,1.000000,-0.009822,0.005491,0.008148,-0.002013
num_pages,-0.026223,-0.009822,1.000000,0.034353,0.036998,0.150809
ratings_count,-0.076815,0.005491,0.034353,1.000000,0.865979,0.038205
text_reviews_count,-0.081284,0.008148,0.036998,0.865979,1.000000,0.033734
average_rating,-0.036949,-0.002013,0.150809,0.038205,0.033734,1.000000

In [10]:
?? df_ratings.corr

In [11]:
df_ratings = df_ratings.astype({'bookID': str, 'isbn13': str})

In [13]:
df_ratings['publication_date'] = pd.to_datetime(df_ratings['publication_date'])

In [14]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  object
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   isbn                11127 non-null  object
 4   isbn13              11127 non-null  object
 5   language_code       11127 non-null  object
 6     num_pages         11127 non-null  int64
 7   ratings_count       11127 non-null  int64
 8   text_reviews_count  11127 non-null  int64
 9   publication_date    11127 non-null  datetime64[ns]
 10  publisher           11127 non-null  object
 11  average_rating      11127 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 1.0+ MB

In [15]:
df_ratings.corr()

,num_pages,ratings_count,text_reviews_count,average_rating
num_pages,1.000000,0.034353,0.036998,0.150809
ratings_count,0.034353,1.000000,0.865979,0.038205
text_reviews_count,0.036998,0.865979,1.000000,0.033734
average_rating,0.150809,0.038205,0.033734,1.000000

In [16]:
?? pd.get_dummies

In [18]:
type(pd.get_dummies(df_ratings['authors']))

pandas.core.frame.DataFrame

In [19]:
pd.get_dummies(df_ratings['language_code'])

,ale,ara,en-CA,en-GB,en-US,eng,enm,fre,ger,gla,...,nl,nor,por,rus,spa,srp,swe,tur,wel,zho
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11123,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11124,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11125,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11126,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
pd.get_dummies(df_ratings['publisher'])

,10/18,1st Book Library,1st World Library,A & C Black (Childrens books),A Harvest Book/Harcourt Inc.,A K PETERS,AA World Services,ACE,ADV Manga,AHA! Process,...,小学館,小学館 [Shōgakukan],時報出版,東立,皇冠文化出版有限公司,聯經出版事業股份有限公司,英文漢聲出版股份有限公司,角川書店 (Kadokawa Shoten),講談社,集英社
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0